<!DOCTYPE html>
<html lang="bn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <title>
    <%= typeof title !=='undefined' ? title : 'Business Hisab' %>
  </title>

  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <!-- Project CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/footer.css">
  <% if (typeof page !=='undefined' ) { %>
    <link rel="stylesheet" href="/css/pages/<%= page %>.css">
    <% } %>


      <!-- Core JS -->
      <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
      <!-- DataTables -->
      <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
      <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>

<body>
  <header class="app-header">
    <div class="header-left">
      <button id="sidebarToggle" class="icon-btn"><i class="fa-solid fa-bars"></i></button>
      <div class="logo"><i class="fa-solid fa-chart-line"></i>
        <div id="BusinessName">Business Hisab</div>
      </div>
    </div>

    <!-- <div class="header-center">
      <input type="text" placeholder="ðŸ” Search anything..." class="search-bar">
    </div> -->

    <div class="header-right">
      <button class="icon-btn"><i class="fa-regular fa-bell"></i></button>

      <div class="profile-menu">
        <span class="profile-name">
          <i class="fa-regular fa-circle-user"></i> Admin <i class="fa-solid fa-angle-down"></i>
        </span>
        <ul class="dropdown">
          <li><a href="/profile" id="proileBtn"><i class="fa-regular fa-id-badge"></i> Profile</a></li>
          <li><a href="#"><i class="fa-solid fa-sliders"></i> Settings</a></li>
          <li><a href="#" id="logoutBtn"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
        </ul>

      </div>
    </div>
  </header>

  <div class="layout">

    <!-- Main Content -->